//BEGIN header
header.header
  .container
    .row
      .col-xs-6
        .header__logo
          img(src="img/logo.png", alt="")
      .col-xs-6.end-xs
        .header__relations
          a(href="tel:+79093099597") +7-909-309-95-97
          a(href="mailto:info@clinicgroup.pro") info@clinicgroup.pro
//END header
