section.cooperation
  .container
    .cooperation__content
      .row
        .col-md-5.col-xs-12
          .cooperation__img(style="background-image: url(img/room.png)")
        .col-md-7.col-xs-12
          .cooperation__text
            h2 Инвестируете в медИцину, Ищите сильного партнера?
            p Откройте клинику в партнерстве с Клиник Групп 
            a(href="#").btn.btn--cooperation Давайте знакомиться
            img(src="img/dnc.png", alt="")


