section.demands
  .container
    .row
      .col-md-8.col-md-offset-2.col-xs-12
        h2 Клинике нужны пациенты, а вам - этот курс, 
          span если вы:
      .col-md-6.col-xs-12
        .demands__block.demands__block-1
          h3 Владеете собственной клиникой
          p Или арендуете кабинет.<br> Не можете пробить планку 1 000 000 руб
      .col-md-6.col-xs-12
        .row
          .col-xs-6.col-md-12
            .demands__block
              h4 Планируете открыть клинику
              p Мечтаете работать на себя.
          .col-xs-6.col-md-12
            .demands__block.demands__block-3
              h4 Управляете клиникой 
              p Регулируете бизнес процессы, отвечаете за маркетинг и продвижение медицинской клиники 
