section.entry
  .container
    .row
      .col-xs-12
        .entry__block
          h2 Вебинар
          img(src="img/logo-2.png", alt="")
      .col-xs-12.center-xs
        .entry__text
          h3 Запишитесь<br> на ближайший вебинар
            img(src="img/lemon.png", alt="")
          p и узнайте больше о программе курса
          a(href="#").btn Принять участие