section.history
  .container
    .row
      .col-xs-12.start-md.center-xs
        .history__title
          h2 
            | Мой 
            span путь
          p 
            | от стоматолога, до владельца клиники с 
            span прибылью 1 000 000 руб. в месяц
      .row
        .history__content.history__content--none
          .history__block
            h4 2010 г
            p Развивал себя как стоматолог, арендовал кабинет.
            .history__block__shelf
              img(src="img/shadow.png", alt="")
          .history__block.history__block-2
            h4 2015 г
            span Доход 100 т.р./месяц
            p Начал процесс открытия и лицензирования клиники в Мурманске, изучал бизнес-процессы и инструменты
            .history__block__shelf
              img(src="img/shadow.png", alt="")
          .history__block.history__block-3
            h4 2016 г
            span Средний доход
              b 336 т.р./месяц
            p Открыл клинику в период кризиса в стране, запустил продающий сайт, контекстную рекламу, рекламу в соц.сетях, ввел CRM и скрипты, обеспечил всех врачей плотным потоком пациентов
            .history__block__shelf
              img(src="img/shadow.png", alt="")
          .history__block.history__block-4
            h4 2017 г
            span Доход 
              b 984 т.р./месяц
            p Подключил систему аналитики, уменьшил затраты на рекламу, поднял прайс, перевел клинику в премиальный ценовой сегмент, нанял управляющего
            .history__block__shelf
              img(src="img/shadow.png", alt="")
          .history__block.history__block-5.history__block-5--none
            .row
              .col-md-12.col-xs-5.start-xs
                h4 2018 г
                h3 Цель —
                span открытие новой клиники в москве
              .col-md-12.col-xs-7.start-xs
                p Автоматизировал все процессы в клинике, перестал принимать пациентов, вышел из операционного управления, занялся семьей и своим любимым хобби
            img(src="img/logo-mini.png", alt="")
        .history__content.history__content--mobile
          .row
            .col-xs-6
              .history__block
                h4 2010 г
                p Развивал себя как стоматолог, арендовал кабинет.
                .history__block__shelf
                  img(src="img/shadow.png", alt="")
              .history__block.history__block-3
                h4 2016 г
                span Средний доход
                  b 336 т.р./месяц
                p Открыл клинику в период кризиса в стране, запустил продающий сайт, контекстную рекламу, рекламу в соц.сетях, ввел CRM и скрипты, обеспечил всех врачей плотным потоком пациентов
                .history__block__shelf
                  img(src="img/shadow.png", alt="")
            .col-xs-6
              .history__block.history__block-2
                h4 2015 г
                span Доход 100 т.р./месяц
                p Начал процесс открытия и лицензирования клиники в Мурманске, изучал бизнес-процессы и инструменты
                .history__block__shelf
                  img(src="img/shadow.png", alt="")
              .history__block.history__block-4
                h4 2017 г
                span Доход 
                  b 984 т.р./месяц
                p Подключил систему аналитики, уменьшил затраты на рекламу, поднял прайс, перевел клинику в премиальный ценовой сегмент, нанял управляющего
                .history__block__shelf
                  img(src="img/shadow.png", alt="")
        .history__block.history__block-5.history__block-5--mobile
          .row
            .col-md-12.col-xs-5.start-xs
              h4 2018 г
              h3 Цель —
              span открытие новой клиники в москве
            .col-md-12.col-xs-7.start-xs
              p Автоматизировал все процессы в клинике, перестал принимать пациентов, вышел из операционного управления, занялся семьей и своим любимым хобби
          img(src="img/logo-mini.png", alt="")