section.intro
  .container
    .parallax-1(data-limit-y="false")
      div(data-depth="0.2")
        img(src="img/parallax/parallax-1.png", alt="")
    .parallax-2
      div(data-depth="0.2")
        img(src="img/parallax/parallax-2.png", alt="")
    .parallax-3(data-invert-x="false" data-invert-y="false")
      div(data-depth="0.4")
        img(src="img/parallax/parallax-3.png", alt="")
    .parallax-4
      div(data-depth="0.1")
        img(src="img/parallax/parallax-4.png", alt="")
    .parallax-5(data-invert-x="false" data-invert-y="false")
      div(data-depth="0.4")
        img(src="img/parallax/parallax-5.png", alt="")
    .row
      .col-xs-12.center-xs
        h1 Онлайн-курс про
        h2 
          | выстраивание 
          span всех необходимых бизнес процессов 
          | <br> в медицинской клинике и выведение чистой прибыли компании 
          span от 1 000 000 руб. в месяц
      .col-xs-12
        .intro__content
          .intro__story
            h4 Расскажите<br> о своей клинике 
            p и получите бизнес-разбор от Артура Ахмеджанова бесплатно
            a(href="#") Оставить заявку
              img(src="img/artur.png", alt="")
          .intro__video
            a(href="#")
              img(src="img/intro__video.png", alt="")
              p видео о курсе
          .intro__block
            .row
              .col-md-5.col-xs-7.col-xs-offset-5.col-md-offset-0
                h4 Онлайн курс от<br> врача-стамотолога для
                ul
                  li Владельцов медицинских клиник
                  li Пластических хирургов
                  li Владельцев УЗИ-центров
                  li Косметологов
                  li Стоматологов
  